html, body{
background-color: #D05A2F;
font-family: "Cormorant Garamond", serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
color: #F9F3EA;
overflow-x: hidden;
margin: 0;
padding: 0;
}

html {
scroll-behavior: smooth;
}

.full-height {
height: 100vh;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.decorated-section {
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.borde {
position: fixed;
top: -2%;
bottom: 0;
width: 13vh;
z-index: -0;
opacity: 0.2;
pointer-events: none;
}

.borde-izquierdo {
left: 0;
}

.borde-derecho {
right: 0;
}

.contenido {
position: relative;
z-index: 2;
max-width: 800px;
text-align: center;
}

/* Divide la página en bloques */
.section-full {
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

/* Contador y slider de imagénes*/
.image-stack {
position: relative;
width: 100%;
height: 100%;
margin-bottom: 10%;
}

.bienvenida-img {
position: absolute;
width: 100%;
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
opacity: 0;
transform: translateY(20px);
animation-fill-mode: forwards;
}

/* Posiciones más compactas */
.bienvenida-img:nth-child(1) {
top: 0; left: 10px;
animation: fadeInMove 1s ease forwards 0.5s;
}
.bienvenida-img:nth-child(2) {
top: 20px; left: 50px;
animation: fadeInMove 1s ease forwards 1.5s;
}
.bienvenida-img:nth-child(3) {
top: 40px; left: 90px;
animation: fadeInMove 1s ease forwards 2.5s;
}

@keyframes fadeInMove {
to {
opacity: 1;
transform: translateY(0);
}
from {
opacity: 0;
transform: translateY(20px);
}
} 

.slider-wrapper {
position: relative;
width: 100%;
overflow: hidden;
}

.countdown-container {
position: absolute;
transform: translateX(-50%);
z-index: 2;
color: #5e2129;
text-align: center;
white-space: nowrap;
margin-left: 50%;
margin-top: 4%;
}

.countdown-time {
display: flex;
justify-content: center;
gap: 1rem;
text-align: center;
}

.time-segment {
display: flex;
flex-direction: column;
align-items: center;
}

.main-label {
font-weight: 500;
font-size: 8rem;
}

.label {
font-weight: 300;
font-size: 1.5rem;
}

.slider-container {
overflow: hidden;
background-color: transparent;
}

.slider-track {
display: flex;
animation: slide 50s linear infinite;
}

.slider-track img {
width: 22%;
object-fit: cover;
flex-shrink: 0;
margin-right: 0;
}

@keyframes slide {
0%   { transform: translateX(0); }
100% { transform: translateX(-100%); }
}

/*Encabezado*/

.name{
width: 70vh;
margin-top: 0%;
}
.display-4{
font-size: 8rem;
font-family: "Playfair Display", italic;
}
.lead{
font-weight: 300;
font-size: 1.5rem;
}

.mb-0, .rsvp-text, .vestuario-text{
font-size: 1.5rem;
line-height: 1.3;
}

.title{
text-align: center;
margin-bottom: 3vh;
}

/*Mapa*/

.mapa-text{
font-size: 1.5rem;
line-height: 0.5;
}

.map-responsive {
max-width: 700px;
margin: 0 auto;
}

.btn{
border: none;
color: #F9F3EA;
border-radius: 3rem;
}

.btn-primary{
width: 15vh;
margin-left: 88vh;
background-color: #5e2129;
}

.btn:hover {
background-color: #bb3e03;  
color: #F9F3EA;              
transition: all 0.3s ease; 
}

.btn-light{
width: 10vh;
margin-top: 10%;
margin-left: -8%;
background-color: #5e2129;
}

/*RSVP*/

.rsvp-icon{
margin-top: 2%;
}

.form-label{
border-radius: 3rem;
font-size: 1.5rem;

}

.form-control{
width: 500px;
}

.btn-success{
width: 20vh;
margin-top: 2vh;
background-color: #5e2129;
}

/*Vestuario*/

.vestuario-icon{
height: auto;
}

.ratio*{
width: 30vh;
height: 100vh;
margin-left: -8%;
}

/*Registro*/

.registro-icon{
margin-bottom: 1.5vh;
}

a{
text-decoration: none;
color: inherit;
}

/*Footer*/

.footer-text{
color: #F9F3EA;
margin-top: -3%;
}
.ubicacion-icon, .rsvp-icon, .musica-icon{
width: 8%;
margin-left: 46%;
}

.name2{
width: 6%;
}

.footer-icon, .audio-icon, .dress, .name-icon, .flower-icon{
width: 10%;   
}

.suit{
    width: 12%;
}

.registro-icon{
    width: 11%;
    margin-left: 44.5%;
}

.footer-icon{
margin-bottom: 2%;
}

.flower-icon{
opacity: 0.2;
}

@media (max-height: 600px) {
.vh-100 {
min-height: 100vh;
height: auto !important;
}

.name {
    margin-top: -12%;
}

.image-stack{
    margin-top: -120%;
    width: 30vh;
    height: 30vh;
    margin-left: -42%;

}
}